@import "tailwindcss";

@theme {
  --color-main: #6407d2;
  --color-header: #030303;
  --color-text: #16191e;
  --color-line: #eaeaea;
  --color-section-violet: #ECE3FC;
  --color-section-grey: ;
}

/* Dots main swiper */
.swiper-all {
  height: 450px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-main);
}

/* Dots single swiper */
.swiper-single-dots .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 55%;
}